body {
  color: #333;
  background: #FCCA04;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

header {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

h1 {
  color: #F64C71;
  font-family: 'Bangers', sans-serif;
  font-size: 56px;
  text-shadow: 2px 2px #FFF;
  letter-spacing: 1px;
  margin: 10px;
}

main {
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.pokemon-item {
  color: #333;
  background: #FFF;
  border-radius: 15px;
  display: inline-block;
  padding: 15px;
  margin: 15px;
  border: none;
  width: 250px;
}

h2 {
  font-size: 22px;
  text-transform: uppercase;
}

.pokemon-item p {
  text-transform: capitalize;
}

.pokemon-item img {
  width: 90%;
}
